{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-continue": "off",
    "no-param-reassign": "off",
    "import/prefer-default-export": "off"
  },
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:prettier/recommended"
  ]
}
